{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block header_left %}
          <div class="col-auto">
            <a class="btn btn-danger" href="{{ path('lease') }}" role="button">
            <i class="fas fa-arrow-left"></i> 返回 
            </a>
          </div>
<input type="submit" form="lease_detail" class="btn btn-danger" value="保存">
</div>
{% endblock %}
{% block header_right %}
{% endblock %}

{% block main %}
<main class="container" id="">
<form id="lease_detail" action="" method="POST">
{% for i in cols %}
{% if i.Field != 'id' %}
  <div class="">
    <label for="{{ i.Field }}" class=""> {{ i.Comment }} </label>
    <div class="input">
      <input id="{{ i.Field }}" name="{{ i.Field }}" value="{{ row[i.Field] }}" placeholder="{{ row[i.Field] }}" type="text" class="form-control" disabled="">
    </div>
  </div>
{% endif %}
{% endfor %}
</form>
</main>
{% endblock %}

{% block js %}
	<script src="/js/lease.js"></script>
{% endblock %}
