<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" media="" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" media="" href="/css/z.css">
				{% endblock %}
    </head>
    <body>
        {% block nav %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
        <a class="navbar-brand" href="#">GR</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        {% set currentPath = path(app.request.attributes.get('_route')) %}
        <div class="collapse navbar-collapse" id="">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if currentPath == path('index') %} active {% endif %}">
        <a class="nav-link" href="{{ path('index') }}">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% if currentPath == path('ip') %} active {% endif %}">
        <a class="nav-link" href="{{ path('ip') }}">IP</a>
        </li>
        <li class="nav-item {% if currentPath == path('shop') %} active {% endif %}">
        <a class="nav-link" href="{{ path('shop') }}">Shop</a>
        </li>
        <li class="nav-item {% if currentPath == path('field') %} active {% endif %}">
        <a class="nav-link" href="{{ path('field') }}">Field</a>
        </li>
        <li class="nav-item {% if currentPath == path('market') %} active {% endif %}">
        <a class="nav-link" href="{{ path('market') }}">market</a>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shikong</a>
        <div class="dropdown-menu" aria-labelledby="">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        </div>
        </li>
        </ul>
        </div>
        </div>
        </nav>
        {% endblock %}
        {% block header %}
        <header class="container">
        <div class="row pt-4 pb-2">
          <div class="col-auto">
            <button type="button" class="btn btn-outline-danger">
              export
              <span class="badge badge-light" id="count">0 / 0</span>
            </button>
          </div>
          <div class="input-group col">
            <input id="search" type="text" autofocus class="form-control" aria-label="Text input with dropdown button">
          </div>
        </div>
        </header>
        {% endblock %}
        {% block main %}{% endblock %}
        {% block js1 %} {% endblock %}
        {% block js %}
        <script src="/js/xlsx.min.js"></script>
        <script src="/js/z.js"></script>
        {% endblock %}
    </body>
</html>
